.dashboard{
    flex:1;
    height:calc(100vh - 100.475px) ;
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 100.475px;
}
.dashboardWrapper{
    padding: 20px;
    color: #555;
}
.dashboardTitle{
    color: rgb(172, 172, 172);
    font-size: 13px;
}
.dashboardList{
    list-style: none;
    padding: 5px;
}
.dashboardListItem{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.icon{
    padding-right: 5px;
    font-size: 13px;
}
.dashboardListItem.active,
.dashboardListItem:hover{
    background-color: rgb(228, 228, 250);
}
a{
    text-decoration: none;
    color: inherit;
}
