.header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    padding: 10px;
    font-family:'Times New Roman', Times, serif
}
.right{
    background-color: rgb(251, 251, 255);
}
.rightItems{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}
.items{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.items.active,
.items:hover{
    background-color: rgb(228, 228, 250);
}
#search{
    text-align: center;
    padding: 10px;

}
.submit{
    padding: 10px;
    margin-right: 60px;
}